@import "varible.styl"

body, html
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif
  -webkit-user-select  none
  -moz-user-select  none
  -ms-user-select  none
  user-select none
  -ms-scrollbar-highlight-color transparent
  background-color $color-background
  color #ffffff
